# PROCESS

## Tools used:

#### Microsoft Excel: 
Used to open each data file, performed consistent variable formatting of columns, some data exploration, created and calculated values for two new columns (ride_length and day_of_week) and saved data files from csv to excel format in the raw_data folder.
Specific task done in Excel include;
1. Creation of “ride_length.” Calculated the length of each ride by subtracting the column “started_at” from the column “ended_at” (for example, =D2-C2) and formatted as HH:MM:SS using Format > Cells > Time > 37:30:55.
2. Created a column called “day_of_week,” and calculated the day of the week that each ride started using the “WEEKDAY” command (=WEEKDAY(C2,1)) in each file. Formatted as a number with no decimals, noting that 1 = Sunday and 7 = Saturday.

#### Jupyter Notebook: 
Performed data exploration, data cleaning and validation. This was also used in merging monthly dataset files into single one-year data frame record and performed further analysis.

#### Power BI: 
To produce effective data visualizations.

#### Google slides: 
Used to effectively present findings and recommendations.

## Data Integrity:
In ensuring data integrity for accuracy, consistency, and reliability of data, the following measures were taken;
1. Data exploration
2. Data cleaning
3. Data validation

In [1]:
# Selected each file one-bit a time for processing
import pandas as pd

#cyclistic_df = pd.read_excel('raw_data/202203-divvy-tripdata.xlsx')
#cyclistic_df = pd.read_excel('raw_data/202204-divvy-tripdata.xlsx')
#cyclistic_df = pd.read_excel('raw_data/202205-divvy-tripdata.xlsx')
#cyclistic_df = pd.read_excel('raw_data/202206-divvy-tripdata.xlsx')
#cyclistic_df = pd.read_excel('raw_data/202207-divvy-tripdata.xlsx')
#cyclistic_df = pd.read_excel('raw_data/202208-divvy-tripdata.xlsx')
#cyclistic_df = pd.read_excel('raw_data/202209-divvy-tripdata.xlsx')
#cyclistic_df = pd.read_excel('raw_data/202210-divvy-tripdata.xlsx')
#cyclistic_df = pd.read_excel('raw_data/202211-divvy-tripdata.xlsx')
#cyclistic_df = pd.read_excel('raw_data/202212-divvy-tripdata.xlsx')
#cyclistic_df = pd.read_excel('raw_data/202301-divvy-tripdata.xlsx')
cyclistic_df = pd.read_excel('raw_data/202302-divvy-tripdata.xlsx')
cyclistic_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,ride_length,day_of_week
0,CBCD0D7777F0E45F,classic_bike,2023-02-14 11:59:42,2023-02-14 12:13:38,Southport Ave & Clybourn Ave,TA1309000030,Clark St & Schiller St,TA1309000024,41.920771,-87.663712,41.907993,-87.631501,casual,836.0,3
1,F3EC5FCE5FF39DE9,electric_bike,2023-02-15 13:53:48,2023-02-15 13:59:08,Clarendon Ave & Gordon Ter,13379,Sheridan Rd & Lawrence Ave,TA1309000041,41.957879,-87.649584,41.969517,-87.654691,casual,320.0,4
2,E54C1F27FA9354FF,classic_bike,2023-02-19 11:10:57,2023-02-19 11:35:01,Southport Ave & Clybourn Ave,TA1309000030,Aberdeen St & Monroe St,13156,41.920771,-87.663712,41.880419,-87.655519,member,1444.0,1
3,3D561E04F739CC45,electric_bike,2023-02-26 16:12:05,2023-02-26 16:39:55,Southport Ave & Clybourn Ave,TA1309000030,Franklin St & Adams St (Temp),TA1309000008,41.920873,-87.663733,41.879434,-87.635504,member,1670.0,1
4,0CB4B4D53B2DBE05,electric_bike,2023-02-20 11:55:23,2023-02-20 12:05:48,Prairie Ave & Garfield Blvd,TA1307000160,Cottage Grove Ave & 63rd St,KA1503000054,41.794827,-87.618795,41.780531,-87.605970,member,625.0,2

### Data exploration
I explored the each data file to know more detail about each data file in the following steps;

1. I examined details of each data file using the pandas info and describe functions.
2. I checked each data frame for duplicates.
3. I checked each data frame for missing values.
4. I validated the data to ensure proper analysis that inform data-driven decision and saved into the cleaned_data folder

In [2]:
# Briefly viewed the data structure

cyclistic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 190445 entries, 0 to 190444
Data columns (total 15 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             190445 non-null  object
 1   rideable_type       190445 non-null  object
 2   started_at          190445 non-null  datetime64[ns]
 3   ended_at            190445 non-null  datetime64[ns]
 4   start_station_name  164972 non-null  object
 5   start_station_id    164840 non-null  object
 6   end_station_name    163707 non-null  object
 7   end_station_id      163566 non-null  object
 8   start_lat           190445 non-null  float64
 9   start_lng           190445 non-null  float64
 10  end_lat             190329 non-null  float64
 11  end_lng             190329 non-null  float64
 12  member_casual       190445 non-null  object
 13  ride_length         190444 non-null  float64
 14  day_of_week         190445 non-null  int64
dtypes: datetime64[ns](2), float64(5), int64(1), object(7)
memory usage: 21.8+ MB

In [3]:
# Calculated summary statistics

cyclistic_df.describe()

,start_lat,start_lng,end_lat,end_lng,ride_length,day_of_week
count,190445.000000,190445.000000,190329.000000,190329.000000,190444.000000,190445.000000
mean,41.898063,-87.647773,41.898346,-87.647909,711.707394,3.732789
std,0.048295,0.028430,0.048403,0.028470,1839.661015,1.979037
min,41.648501,-87.840000,41.648501,-87.900000,0.000000,1.000000
25%,41.878317,-87.661364,41.878317,-87.661535,264.000000,2.000000
50%,41.894722,-87.644140,41.894722,-87.644336,445.000000,3.000000
75%,41.926756,-87.630000,41.928773,-87.630000,773.000000,5.000000
max,42.070000,-87.528411,42.070000,-87.528232,86287.000000,7.000000

In [4]:
# Checked for duplicate values

cyclistic_df.duplicated().sum()

0

In [5]:
# Checked for missing values

cyclistic_df.isna().sum()

ride_id                   0
rideable_type             0
started_at                0
ended_at                  0
start_station_name    25473
start_station_id      25605
end_station_name      26738
end_station_id        26879
start_lat                 0
start_lng                 0
end_lat                 116
end_lng                 116
member_casual             0
ride_length               1
day_of_week               0
dtype: int64

In [6]:
# Counted Casual and member trips

cyclistic_df['member_casual'].value_counts()

member    147429
casual     43016
Name: member_casual, dtype: int64

### Data cleaning

I Performed thorough data cleaning in the following steps;
1. I renamed columns into conventionally meaningful names
2. I handled missing values;
The station names, station IDs, lat and lng provide spatial information and missing values in any of the columns can be corrected with values from corresponding columns. I used KDTree from the scipy.spatial package to correct the missing value pairs.
The start_lat and start_lng had complete values and served as reference query points.
The most recent csv file however did not have missing values pair for station names and IDs, so I filled consistent station_id rows having missing values with the words “Unknown ID”.
For rows with missing trip_duration values, I discovered the end dates were earlier than the start dates and made the assumption of error in data entry. I interchanged the started_at and ended_at dates for rows with missing trip_duration and recalculated the trip duration in the trip_duration column.

I used this documentation guide in handling unpaired missing values for station IDs; https://pandas.pydata.org/docs/user_guide/missing_data.html

Thanks to this thread on stackoverflow in handling missing trip_duration values; https://stackoverflow.com/questions/56421753/swap-column-values-based-on-a-condition-in-pandas

In [7]:
# Changed column names

cyclistic_df = cyclistic_df.rename(columns={'ride_id': 'trip_id', 'rideable_type': 'bike_type', 
                                            'member_casual': 'user_type', 'ride_length': 'trip_duration'})
cyclistic_df.columns

Index(['trip_id', 'bike_type', 'started_at', 'ended_at', 'start_station_name',
       'start_station_id', 'end_station_name', 'end_station_id', 'start_lat',
       'start_lng', 'end_lat', 'end_lng', 'user_type', 'trip_duration',
       'day_of_week'],
      dtype='object')

In [8]:
# Used KDTree from the scipy.spatial package to make assumptions based on nearest neighbour for the missing value pairs

from scipy.spatial import KDTree

In [9]:
# Handled variables with missing value pairs by using a data frame with no missing value

complete_data = cyclistic_df.dropna(subset=['start_station_name', 'start_station_id', 'end_station_name', 
                                            'end_station_id', 'end_lat', 'end_lng'])
coordinates = complete_data[['start_lat', 'start_lng']].values

start_names = complete_data['start_station_name'].values
start_ids = complete_data['start_station_id'].values

end_names = complete_data['end_station_name'].values
end_ids = complete_data['end_station_id'].values

end_lat = complete_data['end_lat'].values
end_lng = complete_data['end_lng'].values

In [10]:
# Created a KDTree index based on the coordinates of the complete stations

kdtree = KDTree(coordinates)

In [11]:
# Handled the missing value pairs for start_station_name and start_station_id

for i, row in cyclistic_df[cyclistic_df['start_station_name'].isna()].iterrows():
    query_point = row[['start_lat', 'start_lng']]
    distances, indices = kdtree.query(query_point, k=1)
    nearest_start_name = start_names[indices]
    nearest_start_id = start_ids[indices]
    
# Assigned the nearest neighbor values to the missing station
    cyclistic_df.at[i, 'start_station_name'] = nearest_start_name
    cyclistic_df.at[i, 'start_station_id'] = nearest_start_id

In [12]:
# Checked if any missing start_station_name and start_station_id value pair remained

missing_values = cyclistic_df.isna().sum()
missing_values[['start_station_name', 'start_station_id']]

start_station_name      0
start_station_id      132
dtype: int64

In [13]:
# Handled missing start_station_id as seen in the 202302-divvy-tripdata.xlsx data file

empty_start_id = cyclistic_df[cyclistic_df['start_station_id'].isna()]
empty_start_id

,trip_id,bike_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,user_type,trip_duration,day_of_week
6023,12B626EE44C701B7,electric_bike,2023-02-19 09:09:47,2023-02-19 09:19:46,Stony Island Ave & 63rd St,NaN,Wentworth Ave & 63rd St,KA1503000025,41.78,-87.59,41.780080,-87.629746,casual,599.0,1
15418,8DF6FDC34FAB9ECD,electric_bike,2023-02-23 12:37:03,2023-02-23 12:41:07,Stony Island Ave & 63rd St,NaN,Ellis Ave & 60th St,KA1503000014,41.78,-87.59,41.785097,-87.601073,member,244.0,5
15455,BCD8E5A0777F90E2,classic_bike,2023-02-18 15:17:18,2023-02-18 15:26:13,Stony Island Ave & 63rd St,NaN,Ellis Ave & 60th St,KA1503000014,41.78,-87.59,41.785097,-87.601073,member,535.0,7
18701,4CB608D352762008,electric_bike,2023-02-25 13:39:03,2023-02-25 13:40:25,Stony Island Ave & 63rd St,NaN,Public Rack - Harper Ave & 63rd St,750,41.78,-87.59,41.780000,-87.590000,casual,82.0,7
40038,0589BB0878015DC2,electric_bike,2023-02-20 19:29:51,2023-02-20 19:44:01,Stony Island Ave & 63rd St,NaN,NaN,NaN,41.78,-87.59,41.760000,-87.570000,casual,850.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182338,51EAE519300A9E30,classic_bike,2023-02-14 15:22:46,2023-02-14 15:25:59,Elizabeth St & Randolph St,NaN,Sangamon St & Lake St,TA1306000015,41.88,-87.66,41.885779,-87.651025,member,193.0,3
185860,1B58D8CAFAC7DAC9,classic_bike,2023-02-15 17:52:22,2023-02-15 18:06:28,Elizabeth St & Randolph St,NaN,Columbus Dr & Randolph St,13263,41.88,-87.66,41.884728,-87.619521,member,846.0,4
185872,3A5C1EF6F69B680D,electric_bike,2023-02-24 12:11:06,2023-02-24 12:17:17,Elizabeth St & Randolph St,NaN,Paulina St & Flournoy St,KA1504000104,41.88,-87.66,41.873061,-87.669135,member,371.0,6
189446,7D4A141FBDB8B05B,classic_bike,2023-02-28 10:07:32,2023-02-28 10:20:26,Elizabeth St & Randolph St,NaN,Dearborn St & Monroe St,TA1305000006,41.88,-87.66,41.881320,-87.629521,member,774.0,3
189461,CB29BC7690EAA996,classic_bike,2023-02-17 13:59:12,2023-02-17 14:38:49,Elizabeth St & Randolph St,NaN,Michigan Ave & Washington St,13001,41.88,-87.66,41.883984,-87.624684,casual,2377.0,6

In [14]:
# Get unique values for the start_station_names having empty start_station_id

unique_start_station = empty_start_id['start_station_name'].unique()
unique_start_station

array(['Stony Island Ave & 63rd St', 'Elizabeth St & Randolph St'],
      dtype=object)

In [15]:
# Checked the mode of the start_station_id

cyclistic_df['start_station_id'].mode()

0    KA1503000071
dtype: object

In [16]:
# Filled missing start_station_id with 'Unknown ID' rather than mode of the station_id to avoid bias

cyclistic_df["start_station_id"].fillna('Unknown ID', inplace=True)

In [17]:
# Checked if any missing start_station_name and start_station_id value remain

missing_values = cyclistic_df.isna().sum()
missing_values[['start_station_name', 'start_station_id']]

start_station_name    0
start_station_id      0
dtype: int64

In [19]:
# Handled the missing value pairs for end_station_name and end_station_id

for i, row in cyclistic_df[cyclistic_df['end_station_name'].isna()].iterrows():
    query_point = row[['start_lat', 'start_lng']]
    distances, indices = kdtree.query(query_point, k=1)
    nearest_end_name = end_names[indices]
    nearest_end_id = end_ids[indices]
    
# Assigned the nearest neighbor values to the missing station
    cyclistic_df.at[i, 'end_station_name'] = nearest_end_name
    cyclistic_df.at[i, 'end_station_id'] = nearest_end_id

In [20]:
# Checked if any missing values remained

missing_values = cyclistic_df.isna().sum()
missing_values[['end_station_name', 'end_station_id']]

end_station_name      0
end_station_id      141
dtype: int64

In [21]:
# Hadled missing value for end_station_id as seen in the 202302-divvy-tripdata.xlsx data file

cyclistic_df["end_station_id"].fillna('Unknown ID', inplace=True)

In [22]:
# Checked if any missing end_station_name and end_station_id value remained

missing_values = cyclistic_df.isna().sum()
missing_values[['end_station_name', 'end_station_id']]

end_station_name    0
end_station_id      0
dtype: int64

In [23]:
# Handled the missing value pairs for end_lat and end_lng

for i, row in cyclistic_df[cyclistic_df['end_lat'].isna()].iterrows():
    query_point = row[['start_lat', 'start_lng']]
    distances, indices = kdtree.query(query_point, k=1)
    nearest_end_lat = end_lat[indices]
    nearest_end_lng = end_lng[indices]
    
# Assigned the nearest neighbor values to the missing station
    cyclistic_df.at[i, 'end_lat'] = nearest_end_lat
    cyclistic_df.at[i, 'end_lng'] = nearest_end_lng

In [24]:
# Checked if any missing values remained

missing_values = cyclistic_df.isna().sum()
missing_values[['end_lat', 'end_lng']]

end_lat    0
end_lng    0
dtype: int64

In [25]:
# Checked for other missing values

cyclistic_df.isna().sum()

trip_id               0
bike_type             0
started_at            0
ended_at              0
start_station_name    0
start_station_id      0
end_station_name      0
end_station_id        0
start_lat             0
start_lng             0
end_lat               0
end_lng               0
user_type             0
trip_duration         1
day_of_week           0
dtype: int64

In [26]:
# Checked for rows with missing trip_duration values

trip_duration_empty = cyclistic_df[cyclistic_df['trip_duration'].isna()]
trip_duration_empty

,trip_id,bike_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,user_type,trip_duration,day_of_week
189347,4EFC95304E050AA1,electric_bike,2023-02-04 13:08:08,2023-02-04 13:04:52,Dearborn St & Adams St,TA1305000005,Dearborn St & Monroe St,TA1305000006,41.88,-87.63,41.88132,-87.629521,member,NaN,7

In [27]:
# Adjusted affected date columns

error_trip_duration = cyclistic_df['trip_duration'].isna()

corrected_date = {'started_at': 'ended_at', 'ended_at': 'started_at'}
cyclistic_df.update(cyclistic_df.loc[error_trip_duration].rename(corrected_date, axis=1))

In [28]:
# Recalculated the 'trip_duration' variable

cyclistic_df['trip_duration'] = cyclistic_df['ended_at'] -cyclistic_df['started_at']
cyclistic_df['trip_duration'] = cyclistic_df['trip_duration'].dt.total_seconds().astype("int64")

In [29]:
# Checked for other missing data

cyclistic_df.isna().sum()

trip_id               0
bike_type             0
started_at            0
ended_at              0
start_station_name    0
start_station_id      0
end_station_name      0
end_station_id        0
start_lat             0
start_lng             0
end_lat               0
end_lng               0
user_type             0
trip_duration         0
day_of_week           0
dtype: int64

### Data Validation

To validate the cleaning process and ensure the data are ready for further analysis, I performed the following steps on 
the cleaned data frame;
1. Validated date consistency: 
I ensured the started_at is less than the ended_at for each trip.

In [30]:
cyclistic_df = cyclistic_df[cyclistic_df['started_at'] < cyclistic_df['ended_at']]

2. Validated data ranges: 
I examined the numerical columns (latitudes and longitudes) and ensured the values were within 
valid ranges for Chicago. Finding out through https://en-us.topographic-map.com/map-c6m2/Chicago/ that the geolocation 
coordinates for Chicago, Illinois, United States ranges from latitude (41.64453° N to 42.02304° N) and 
longitude (87.94010° W to 87.52408° W). I filtered the latitude values to range from 41.64453 to 42.02304, and longitude values 
from -87.94010 to -87.52408.

In [31]:
#Rounded up the latitude and longitude values to 5 decimal places and validated coordinates

cyclistic_df[['start_lat', 'end_lat', 'start_lng', 'end_lng']].round(5)

cyclistic_df = cyclistic_df[
    (cyclistic_df['start_lat'].between(41.64453, 42.02304)) &
    (cyclistic_df['end_lat'].between(41.64453, 42.02304)) &
    (cyclistic_df['start_lng'].between(-87.94010, -87.52408)) &
    (cyclistic_df['end_lng'].between(-87.94010, -87.52408))
]

3. Validated trip duration: 
I examined the trip_duration column and filtered out trip_duration that were equal to 0, as trips must be greater than 0 for trip duration to be calculated.

In [32]:
cyclistic_df = cyclistic_df[cyclistic_df['trip_duration'] > 0]

In [33]:
# Saved each cleaned dataset file to the desired file type

#cyclistic_df.to_excel('cleaned_data/202203-divvy-tripdata.xlsx', index=False)
#cyclistic_df.to_excel('cleaned_data/202204-divvy-tripdata.xlsx', index=False)
#cyclistic_df.to_excel('cleaned_data/202205-divvy-tripdata.xlsx', index=False)
#cyclistic_df.to_excel('cleaned_data/202206-divvy-tripdata.xlsx', index=False)
#cyclistic_df.to_excel('cleaned_data/202207-divvy-tripdata.xlsx', index=False)
#cyclistic_df.to_excel('cleaned_data/202208-divvy-tripdata.xlsx', index=False)
#cyclistic_df.to_excel('cleaned_data/202209-divvy-tripdata.xlsx', index=False)
#cyclistic_df.to_excel('cleaned_data/202210-divvy-tripdata.xlsx', index=False)
#cyclistic_df.to_excel('cleaned_data/202211-divvy-tripdata.xlsx', index=False)
#cyclistic_df.to_excel('cleaned_data/202212-divvy-tripdata.xlsx', index=False)
#cyclistic_df.to_excel('cleaned_data/202301-divvy-tripdata.xlsx', index=False)
cyclistic_df.to_excel('cleaned_data/202302-divvy-tripdata.xlsx', index=False)

## Created by

Tobi Ibidapo-Obe

## Change Log

| Date (DD-MM-YYYY) | Version |        Name       |      Change Description                |
| ----------------- | ------- | ----------------- | -------------------------------------- |
| 16-03-2023        | 0.1     | Tobi Ibidapo-Obe  | Created initial version of the notebook|